.Nav_logo{color: chocolate !important;font-weight: 700;font-size: 30px !important;}

.Nav_Serch .Button_Serch{border: 1px solid chocolate}

.Nav_Serch .Button_Serch:hover{background-color: chocolate ;color: #fff }

.Nav_Serch input:focus{border-color: chocolate}

.Nav_Serch .form-control:focus{box-shadow: 0 0 0 .10rem chocolate}

/*spiner*/

.spiner_style{display: flex;justify-content: center;margin-top: 250px;}

/*Card style*/
.Card_overlay{position: relative; margin-top: 30px;}

.Card_overlay .img_overlay{width: 100%;height: 100%;}


.text_overlay{
    visibility: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(108, 108, 108, 0.496);
    opacity: 0;
}

.Card_overlay .text_overlay .Overlay_desc{
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text_overlay:hover{opacity: 1;}

.img_overlay img{width: 100%;height: 400px;}

/*Paginations_style*/

.Paginations_style{display: flex;justify-content: center;margin-top: 100px;}
