.Nav_logo{color: chocolate !important;font-weight: 700;font-size: 30px !important;}

.Nav_Serch .Button_Serch{border: 1px solid chocolate}

.Nav_Serch .Button_Serch:hover{background-color: chocolate ;color: #fff }

.Nav_Serch input:focus{border-color: chocolate}

.Nav_Serch .form-control:focus{box-shadow: 0 0 0 .10rem chocolate}

/*spiner*/

.spiner_style{display: flex;justify-content: center;margin-top: 250px;}

/*Card style*/
.Card_overlay{position: relative; margin-top: 30px;}

.Card_overlay .img_overlay{width: 100%;height: 100%;}


.text_overlay{
    visibility: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(108, 108, 108, 0.496);
    opacity: 0;
}

.Card_overlay .text_overlay .Overlay_desc{
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text_overlay:hover{opacity: 1;}

.img_overlay img{width: 100%;height: 400px;}

/*Paginations_style*/

.Paginations_cover .page-link.active, .active>.page-link {background-color:chocolate !important;color:#fff !important;}

/*Details*/
.movie-detail-container {
    padding-top: 70px !important;
  }
  
  .card-details {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .img-movie {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  
  .card-text-details {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card-story {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-text-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-text-story {
    font-size: 16px;
  }
  
  .custom-btn {
    background-color: #b45b35 !important;
    border: none;
  }
  
  .custom-btn:hover {
    background-color: #944a28 !important;
  }
  